* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.service-card {
    width: 300px;
    height: 470px;

}

.service-pic {
    width: 98%;
    /* height: 280px; */
    border: 1px solid lightgray;
}